.bin{
    margin-top: 2em;
}
.inn {
    display: table;
    margin: 0 auto;
}
.container-fluid2 {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-1 {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-1:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-1:focus, .btn-1.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  .btn-2 {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-2:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-2:focus, .btn-2.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  .btn-3 {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-3:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-3:focus, .btn-3.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  .btn-4 {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-4:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-4:focus, .btn-4.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  .btn-5 {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-5:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-5:focus, .btn-5.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }

 